In [1]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [2]:
bollywood = pd.read_csv('cleaned_data.csv')

In [3]:
bollywood.head()

,Unnamed: 0,imdb_id,original_title,genres,story,summary,actors,director
0,0,tt8291224,Uri: The Surgical Strike,Action|Drama|War,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,Aditya Dhar
1,1,tt9472208,Battalion 609,War,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,Brijesh Batuknath Tripathi
2,2,tt6986710,The Accidental Prime Minister,Biography|Drama,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,Vijay Ratnakar Gutte
3,3,tt8108208,Why Cheat India,Crime|Drama,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,Soumik Sen
4,4,tt6028796,Evening Shadows,Drama,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,Sridhar Rangayan

In [4]:
bollywood.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
bollywood.head()

,imdb_id,original_title,genres,story,summary,actors,director
0,tt8291224,Uri: The Surgical Strike,Action|Drama|War,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,Aditya Dhar
1,tt9472208,Battalion 609,War,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,Brijesh Batuknath Tripathi
2,tt6986710,The Accidental Prime Minister,Biography|Drama,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,Vijay Ratnakar Gutte
3,tt8108208,Why Cheat India,Crime|Drama,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,Soumik Sen
4,tt6028796,Evening Shadows,Drama,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,Sridhar Rangayan

In [7]:
bollywood.rename(columns={'original_title':'title'},inplace=True)

In [8]:
bollywood.shape

(3986, 7)

In [9]:
bollywood.isnull().sum()

imdb_id     0
title       0
genres      0
story       0
summary     0
actors      0
director    0
dtype: int64

In [10]:
bollywood.duplicated().sum()

137

In [11]:
bollywood.drop_duplicates(inplace=True)

In [12]:
bollywood.duplicated().sum()

0

In [13]:
bollywood['genres'] = bollywood['genres'].apply(lambda x:x.split('|'))
bollywood['actors'] = bollywood['actors'].apply(lambda x:x.split('|'))
bollywood['story'] = bollywood['story'].apply(lambda x:x.split())
bollywood['summary'] = bollywood['summary'].apply(lambda x:x.split())
bollywood['director'] = bollywood['director'].apply(lambda x:x.replace(' ',''))

In [14]:
bollywood.head()

,imdb_id,title,genres,story,summary,actors,director
0,tt8291224,Uri: The Surgical Strike,"[Action, Drama, War]","[Divided, over, five, chapters, the, film, chr...","[Indian, army, special, forces, execute, a, co...","[Vicky Kaushal, Paresh Rawal, Mohit Raina, Yam...",AdityaDhar
1,tt9472208,Battalion 609,[War],"[The, story, revolves, around, a, cricket, mat...","[The, story, of, Battalion, 609, revolves, aro...","[Vicky Ahuja, Shoaib Ibrahim, Shrikant Kamat, ...",BrijeshBatuknathTripathi
2,tt6986710,The Accidental Prime Minister,"[Biography, Drama]","[Based, on, the, memoir, by, Indian, policy, a...","[Explores, Manmohan, Singh's, tenure, as, the,...","[Anupam Kher, Akshaye Khanna, Aahana Kumra, At...",VijayRatnakarGutte
3,tt8108208,Why Cheat India,"[Crime, Drama]","[The, movie, focuses, on, existing, malpractic...","[The, movie, focuses, on, existing, malpractic...","[Emraan Hashmi, Shreya Dhanwanthary, Snighdade...",SoumikSen
4,tt6028796,Evening Shadows,[Drama],"[While, gay, rights, and, marriage, equality, ...","[Under, the, 'Evening, Shadows', truth, often,...","[Mona Ambegaonkar, Ananth Narayan Mahadevan, D...",SridharRangayan

In [15]:
bollywood['actors'] = bollywood['actors'].apply(lambda x: x[:5])

In [16]:
bollywood['actors'] = bollywood['actors'].apply(lambda x:[i.replace(' ','') for i in x])

In [17]:
bollywood['director'] = bollywood['director'].apply(lambda x:x.split())

In [18]:
bollywood['tags'] = bollywood['genres']+bollywood['actors']+bollywood['summary']+bollywood['story']+bollywood['director']

In [19]:
bollywood.head(5)

,imdb_id,title,genres,story,summary,actors,director,tags
0,tt8291224,Uri: The Surgical Strike,"[Action, Drama, War]","[Divided, over, five, chapters, the, film, chr...","[Indian, army, special, forces, execute, a, co...","[VickyKaushal, PareshRawal, MohitRaina, YamiGa...",[AdityaDhar],"[Action, Drama, War, VickyKaushal, PareshRawal..."
1,tt9472208,Battalion 609,[War],"[The, story, revolves, around, a, cricket, mat...","[The, story, of, Battalion, 609, revolves, aro...","[VickyAhuja, ShoaibIbrahim, ShrikantKamat, Ele...",[BrijeshBatuknathTripathi],"[War, VickyAhuja, ShoaibIbrahim, ShrikantKamat..."
2,tt6986710,The Accidental Prime Minister,"[Biography, Drama]","[Based, on, the, memoir, by, Indian, policy, a...","[Explores, Manmohan, Singh's, tenure, as, the,...","[AnupamKher, AkshayeKhanna, AahanaKumra, AtulS...",[VijayRatnakarGutte],"[Biography, Drama, AnupamKher, AkshayeKhanna, ..."
3,tt8108208,Why Cheat India,"[Crime, Drama]","[The, movie, focuses, on, existing, malpractic...","[The, movie, focuses, on, existing, malpractic...","[EmraanHashmi, ShreyaDhanwanthary, Snighdadeep...",[SoumikSen],"[Crime, Drama, EmraanHashmi, ShreyaDhanwanthar..."
4,tt6028796,Evening Shadows,[Drama],"[While, gay, rights, and, marriage, equality, ...","[Under, the, 'Evening, Shadows', truth, often,...","[MonaAmbegaonkar, AnanthNarayanMahadevan, Deva...",[SridharRangayan],"[Drama, MonaAmbegaonkar, AnanthNarayanMahadeva..."

In [20]:
final_df = bollywood[['imdb_id','title','tags']]

In [21]:
final_df['tags'] = final_df['tags'].apply(lambda x:' '.join(x))

In [22]:
final_df['tags'] = final_df['tags'].str.lower()

In [23]:
from nltk.stem.porter import PorterStemmer
pos = PorterStemmer()

In [24]:
def Stemming(text):
    text = text.split()
    l = []
    for i in text:
        l.append(pos.stem(i))
    return ' '.join(l)

In [25]:
final_df['tags'] = final_df['tags'].apply(Stemming)

In [27]:
df = final_df[['imdb_id','title']]

In [28]:
import pickle
pickle.dump(df,open('df.pkl','wb'))

In [49]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words='english',lowercase=True,max_features=5000)

In [50]:
vectors = cv.fit_transform(final_df['tags']).toarray()

In [51]:
vectors.shape

(3849, 5000)

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

In [53]:
similarity = cosine_similarity(vectors)

In [60]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [54]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(206, 0.3616777720717861),
 (1, 0.3442914250542026),
 (1401, 0.33072425232124475),
 (1447, 0.2846049894151541),
 (1775, 0.2606430175713435)]

In [55]:
def recommed(movie):
    movie_index = final_df[final_df['title']==movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movie_list:
        print(final_df['imdb_id'].iloc[i[0]])
        print(final_df['title'].iloc[i[0]])

In [56]:
recommed('Uri: The Surgical Strike')

tt6080746
Raag Desh
tt9472208
Battalion 609
tt0382385
Zameen
tt0307116
Maa Tujhhe Salaam
tt0115568
Army

In [57]:
import requests

In [58]:
def fetch_poster(imdb_id):
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key=554ea29ab95145cde55cd8339423e8d4&language=en-US'.format(imdb_id))
    data = response.json()
    try:
        try:
            path = data['poster_path']
        except KeyError:
            path =  ''
        return 'https://image.tmdb.org/t/p/w500/'+ path
    except TypeError:
        return 'image is not available'

In [59]:
fetch_poster('tt0374016')

'image is not available'

## Hollywood

In [121]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credit = pd.read_csv('tmdb_5000_credits.csv')

In [122]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [123]:
credit.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [124]:
hollywood = movies.merge(credit,left_on='id',right_on='movie_id')

In [125]:
hollywood.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  title_y               4803 non-null   object
 22  cast                  4803 non-null   object
 23  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 938.1+ KB

## columns we will be using
- id
- original_title
- genres
- keywords
- tagline 
- cast
- crew
- overview

In [126]:
hollywood = hollywood[['id','original_title','genres','keywords','overview','cast','crew']]

In [127]:
hollywood.head()

,id,original_title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [128]:
hollywood.dropna(inplace=True)

In [129]:
hollywood.isnull().sum()

id                0
original_title    0
genres            0
keywords          0
overview          0
cast              0
crew              0
dtype: int64

In [130]:
hollywood.duplicated().sum()

0

In [131]:
hollywood.head(2)

,id,original_title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [132]:
import ast

In [133]:
hollywood['genres'] = hollywood['genres'].apply(lambda x:[i['name'] for i in ast.literal_eval(x)])

In [134]:
hollywood['keywords'] = hollywood['keywords'].apply(lambda x:[i['name'] for i in ast.literal_eval(x)])

In [135]:
hollywood['overview'] = hollywood['overview'].apply(lambda x:x.split())

In [136]:
hollywood['cast'] = hollywood['cast'].apply(lambda x:[i['name'] for i in ast.literal_eval(x)][:3])

In [143]:
def fetch_direc(text):
    l = ast.literal_eval(text)
    name = []
    for i in l:
        if i['job']=='Director':
            name.append(i['name'])
    return name

In [145]:
hollywood['director'] = hollywood['crew'].apply(fetch_direc)

In [147]:
hollywood.drop('crew',axis=1,inplace=True)

In [151]:
hollywood['cast'] = hollywood['cast'].apply(lambda x:[i.replace(' ','') for i in x])

In [153]:
hollywood['director'] = hollywood['director'].apply(lambda x:[i.replace(' ','') for i in x])

In [155]:
hollywood['keywords'] = hollywood['keywords'].apply(lambda x:[i.replace(' ','') for i in x])

In [158]:
hollywood['genres'] = hollywood['genres'].apply(lambda x:[i.replace(' ','') for i in x])

In [160]:
hollywood['tags'] = hollywood['overview']+ hollywood['keywords'] + hollywood['genres'] + hollywood['cast'] + hollywood['director']

In [162]:
hollywood = hollywood[['id','original_title','tags']]

In [164]:
hollywood['tags'] = hollywood['tags'] .apply(lambda x:' '.join(x))

In [166]:
hollywood['tags'] = hollywood['tags'].str.lower()

In [167]:
hollywood['tags'] = hollywood['tags'].apply(Stemming)

In [169]:
cv1 = CountVectorizer(stop_words='english',lowercase=True,max_features=5000)

In [170]:
vectors1 = cv1.fit_transform(hollywood['tags']).toarray()

In [171]:
similarity1 = cosine_similarity(vectors1)

In [181]:
hollywood_movies = hollywood[['id','original_title']]

In [182]:
pickle.dump(hollywood_movies,open('hollywood_movies.pkl','wb'))

In [183]:
pickle.dump(similarity1,open('similarity1.pkl','wb'))

In [175]:
hollywood.head(3)

,id,original_title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...

In [179]:
def recommed(movie):
    movie_index = hollywood[hollywood['original_title']==movie].index[0]
    distance = similarity1[movie_index]
    movie_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movie_list:
        print(hollywood['id'].iloc[i[0]])
        print(hollywood['original_title'].iloc[i[0]])

In [180]:
recommed('Avatar')

440
Aliens vs Predator: Requiem
679
Aliens
270938
Falcon Rising
602
Independence Day
7450
Titan A.E.